In [1]:
import pandas as pd
import datetime as dt
import numpy as np
import sqlalchemy

from sqlalchemy import create_engine, func
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session

from config import db_password

In [2]:
enph_data= pd.read_csv('Resources/ENPH_Price.csv')

In [3]:
enph_data.head()

       Date  Open  High   Low  Close  Adj Close  Volume
0  1/3/2017  1.02  1.05  1.01   1.05       1.05  445900
1  1/4/2017  1.09  1.15  1.05   1.15       1.15  903000
2  1/5/2017  1.19  1.19  1.11   1.12       1.12  308700
3  1/6/2017  1.12  1.14  1.08   1.11       1.11  259700
4  1/9/2017  1.10  1.11  1.08   1.11       1.11  180000

In [4]:
enph_data.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
1297,2/28/2022,157.399994,167.949997,157.399994,166.699997,166.699997,5368900
1298,3/1/2022,167.539993,172.869995,163.520004,170.600006,170.600006,3539800
1299,3/2/2022,169.880005,169.880005,159.529999,163.889999,163.889999,3473300
1300,3/3/2022,164.860001,165.729996,157.210007,159.029999,159.029999,2329200
1301,3/4/2022,159.820007,164.250000,152.949997,158.149994,158.149994,2512400

In [5]:
enph_data.isnull()

       Date   Open   High    Low  Close  Adj Close  Volume
0     False  False  False  False  False      False   False
1     False  False  False  False  False      False   False
2     False  False  False  False  False      False   False
3     False  False  False  False  False      False   False
4     False  False  False  False  False      False   False
...     ...    ...    ...    ...    ...        ...     ...
1297  False  False  False  False  False      False   False
1298  False  False  False  False  False      False   False
1299  False  False  False  False  False      False   False
1300  False  False  False  False  False      False   False
1301  False  False  False  False  False      False   False

[1302 rows x 7 columns]

In [6]:
enph_data.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [7]:
enph_data['Date'].duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1297    False
1298    False
1299    False
1300    False
1301    False
Name: Date, Length: 1302, dtype: bool

In [8]:
enph_data['Date'].duplicated().sum()

0

In [9]:
enph_data_df=enph_data

In [10]:
enph_data_df["Open"]=enph_data_df["Open"].map("{:.2f}".format)
enph_data_df["High"]=enph_data_df["High"].map("{:.2f}".format)
enph_data_df["Low"]=enph_data_df["Low"].map("{:.2f}".format)
enph_data_df["Close"]=enph_data_df["Close"].map("{:.2f}".format)
enph_data_df["Adj Close"]=enph_data_df["Adj Close"].map("{:.2f}".format)

In [11]:
from sqlalchemy import creat_engine
db_string=f"postgressql://postgres:{db_password}@127.0.01.1:5432/ENPH"
engine=create_engine(db_string)
enph_data_df.to_sql(name="ENPH", con=engine)

SyntaxError: EOL while scanning string literal (<ipython-input-11-b302bd280923>, line 2)